html{
    background-color: blanchedalmond;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
h1{
    font-size:300%;
    padding: 0%;
}
#div1{
    background-color: rgb(228, 240, 196);
    text-align: center;
    margin-left: 15%;
    margin-right: 15%;
    padding-bottom: 0.5%;
}
#div2{
    background-color: rgb(228, 240, 196);
    margin-left: 15%;
    margin-right: 15%;
    padding: 2%;
    padding-left: 2%;
}
table, th, td {
    border: 2px solid black;
    border-collapse: collapse;
    padding-bottom: 1%;
    margin-left: 10;
}
h3{
    padding: 0%;
}
